* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.4s ease-in-out;
}

ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
hr {
	border: 0;
	border-top: 1px dotted #efefef;
}
img {
	width: 100%;
}
